<div>
    <div>Name:</div>
    <div id="lunchLocationName" data-dojo-attach-point="lunchLocationName"></div>
    <div>City</div>
    <div id="lunchLocationCity" data-dojo-attach-point="lunchLocationCity"></div>
    <div>State:</div>
    <div id="lunchLocationState" data-dojo-attach-point="lunchLocationState"></div>
    <div>Address:</div>
    <div id="lunchLocationAddresss" data-dojo-attach-point="lunchLocationAddresss"></div>
    <div>Zip:</div>
    <div id="lunchLocationZip" data-dojo-attach-point="lunchLocationZip"></div>
    <div>Website:</div>
    <div id="lunchLocationWebsite" data-dojo-attach-point="lunchLocationWebsite"></div>
    
    <div id="createLocationContainer" data-dojo-attach-point="createLocation"></div>
</div>