@import '../js/dojo/resources/dojo.css';
@import '../js/dijit/themes/claro/claro.css';
@import '../js/dgrid/css/dgrid.css';
html,body{
    height:100%;margin:0;padding:0
}

.loading{
    font-size:1.5em;text-align:center;
}
.loaded .loading{
    display:none
}

.textboxWidth{
    width:50%;
    min-width:150px;
}